{{ define "main" }}
<article class="h-entry post">
  {{ if .Title }}
    <h1 class="p-name">{{ .Title }}</h1>
  {{ end }}
  
  <div class="e-content">
    {{ .Content }}
  </div>
  
  <aside class="post-metadata">
    <a class="u-url" href="{{ .Permalink }}">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
    </a>
    {{ with .Params.categories }}
      <div class="post-categories">
        {{ range . }}
          <a class="p-category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}
    {{ if .Params.redirect }}
      <meta http-equiv="refresh" content="0; url={{ .Params.redirect }}" />
    {{ end }}
  </aside>
  
  {{ partial "microblog_syndication.html" . }}
</article>
{{ end }}